<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <mat-form-field style="width: 90%">
      <input
        matInput
        [(ngModel)]="keyboardFilter"
        placeholder="Search Keyboards"
      />
    </mat-form-field>
    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="scrollable-viewport"
      style="width: 90%"
    >
      <mat-selection-list
        #keyboardListItem
        [multiple]="false"
        (selectionChange)="selectKeyboard($event)"
      >
        <mat-list-option
          *cdkVirtualFor="let keyboard of keyboardDb | filter: keyboardFilter"
          [value]="keyboard"
        >
          {{ keyboard }}
        </mat-list-option>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <mat-form-field style="width: 90%">
      <input matInput [(ngModel)]="keymapFilter" placeholder="Search Keymaps" />
    </mat-form-field>

    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="scrollable-viewport"
      style="width: 90%"
    >
      <mat-selection-list
        #keymapListItem
        [multiple]="false"
        (selectionChange)="selectKeymap($event)"
      >
        <mat-list-option
          *ngFor="let keymapEntry of keymapDb | filter: keymapFilter"
          [value]="keymapEntry"
          [ngClass]="{
            warning: keymapEntry['no-cpp'],
            error: keymapEntry.error
          }"
        >
          <p>{{ keymapEntry.name }}</p>
          <span style="text-align: right; font-size: 0.7em">
            {{ keymapEntry.error }} {{ keymapEntry["no-cpp"] ? "no-cpp" : "" }}
          </span>
        </mat-list-option>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-xs-12 col-md-6" style="min-height: 85vh">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div *ngIf="keyboardEntry">
          <h2>Keyboard {{ keyboardEntry }}</h2>
          <ul>
            <li>
              <a [href]="getKeyboardGithubUrl()"> View on Github</a>
            </li>
            <li>
              <a [href]="getKeyboardJsonUrl()"> Get info.json</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div *ngIf="keymapEntry">
          <h2>Keymap {{ keymapEntry?.name }}</h2>
          <li>
            <a [href]="getKeymapGithubUrl()"> View on Github</a>
          </li>
          <li>
            <a [href]="getKeymapJsonUrl()"> Get keymap.json</a> Can be imported
            in <a href="https://config.qmk.fm/">QMK Configurator</a>
          </li>
        </div>
      </div>
      <div class="col-xs-12" style="overflow: auto">
        <app-keyboard-viewer
          [qmkKeyboard]="keyboardJson"
          [qmkKeymap]="keymapJson"
        ></app-keyboard-viewer>
      </div>
    </div>
  </div>
</div>
