<div class="key" [style.top.px]="key.y * 51" [style.left.px]="key.x * 51">
  <svg
    [attr.width]="key.width * 50 + key.width - 1"
    [attr.height]="key.height * 50 + key.height - 1"
    style="overflow: hidden; display: inline-block"
  >
    <g class="keycap">
      <!-- Outer Border -->
      <rect
        x="0.5"
        y="0.5"
        [attr.width]="50 * key.width - 2 + key.width"
        [attr.height]="50 * key.height - 1"
        rx="5"
        [attr.fill]="key.color"
        stroke="black"
      />

      <rect
        class="colorize-navy"
        x="5"
        y="5"
        [attr.width]="50 * key.width - 10"
        [attr.height]="50 * key.height - 10"
        rx="2"
        [attr.fill]="lightColor"
      />

      <text x="6" text-anchor="start" y="18" font-size="12">
        {{ key.labels[0] }}
      </text>
      <text x="25" text-anchor="center" y="18" font-size="12">
        {{ key.labels[1] }}
      </text>
      <text x="44" text-anchor="end" y="18" font-size="12">
        {{ key.labels[2] }}
      </text>
      <text x="6" text-anchor="start" y="31" font-size="">
        {{ key.labels[3] }}
      </text>
      <text x="25" text-anchor="center" y="31" font-size="12">
        {{ key.labels[4] }}
      </text>
      <text x="44" text-anchor="end" y="31" font-size="12">
        {{ key.labels[5] }}
      </text>
      <text x="6" text-anchor="start" y="44" font-size="12">
        {{ key.labels[6] }}
      </text>
      <text x="25" text-anchor="center" y="44" font-size="12">
        {{ key.labels[7] }}
      </text>
      <text x="44" text-anchor="end" y="44" font-size="12">
        {{ key.labels[8] }}
      </text>
    </g>
  </svg>
</div>
