<button
  mat-raised-button
  color="primary"
  (click)="exportKle()"
  style="margin: 1em"
  *ngIf="qmkKeyboard && qmkKeymap"
>
  Copy keyboard for keyboard-layot-editor.com
</button>

<div *ngFor="let kleConverter of kleConverters; index as i">
  <button
    mat-raised-button
    color="primary"
    [cdkCopyToClipboard]="kleConverter.serialize() | json | slice: 1:-1"
    style="margin: 1em"
  >
    Copy layer for keyboard-layot-editor.com
  </button>
  <p *ngIf="!qmkKeymap">{{ kleConverter.keyboard.layouts[i]?.name }}</p>
  <p *ngIf="qmkKeymap">LAYER_{{ i }}</p>
  <app-keymap-renderer
    [kleKeyboard]="kleConverter.kleKeyboard"
  ></app-keymap-renderer>
</div>
